# IDEA/Webstorm project files
.idea/
*.iml

#VSCode metadata
.vscode

# Mac files
.DS_Store

# Ignore swap files (for files currently being edited)
**/*.swp

# npm
node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vim swap files
*.swp

# IDEA:
.idea/
**.iml
**.iml

# IDEA - generated artifacts
**/build/
**/out/

# Apple metadata
**/.DS_Store

# env file
.env
