<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consort • Login</title>
    <base href="consort/">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<section class="prompt">
    <h3>Consort</h3>
    <h2>Check up your clinical trial quality before submission</h2>
    <a class="button" href="login/federated/cilogon">Sign in</a>
</section>
<footer class="info">
    <p>Consort link</p>
</footer>
</body>
</html>
